<%- include('include/_header')%>
<main id="site-main">
    <div class="container " style="justify-content: center;">
        <div class="indexx " style="justify-content: center;">
            <div class="outerbox">  <div class="box"> 
                 <a href="/teacherview"><button class="indexbutton">Teacher view</button></a></div>
            <div class="box " >
                 <a href="/studentview"><button class="indexbutton">student view</button></a>
                

            </div></div>
            
           
        </div>
        
       
       

    </div>

</main>
<%- include('include/_footer')%>
